<div class="card">
    <div class="card-content">
        <div class="content">
            <h5>{{ lecturer }}</h5>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag">Fakultät</span>
                        <span class="tag is-primary">{{ lecturer.faculty }}</span>
                    </div>
                </div>
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag">Unterschriften</span>
                        <span class="tag is-success">{{ lecturer.nomination_set.count }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'submission-create' %}?lecturer={{ lecturer.id }}" class="card-footer-item">Unterzeichnen</a>
    </div>
</div>
