{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if show_language_info %}
        {% include 'award/snippets/language_info.html' %}
    {% endif %}

    <h1 class="title is-1">{% translate "Teaching Award of the Student Body" %}</h1>

    <h3 class="subtitle is-3">{% translate "What is the Teaching Award?" %}</h3>
    <div class="content">
        {{ desc|safe }}
    </div>

    <h3 class="subtitle is-3">{% translate "Nominations received" %}</h3>

    {% if not lecturer_list and not request.GET.q %}
        <div class="notification has-text-centered">
        <span class="icon-text">
            <span>{% translate "No nominations have been submitted yet." %}</span>
            <span class="icon">
                <i class="far fa-frown fa-lg"></i>
            </span>
        </span>
        </div>
    {% endif %}

    <div class="columns is-multiline">
        <div class="column is-one-quarter">
            <a href="{% url 'submission-create' %}">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <span class="icon has-text-primary m-5">
                            <i class="fas fa-plus-circle fa-4x"></i>
                        </span>
                        <p>{% translate "Submit new nomination" %}</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <form>
                        <div class="field">
                            <label class="label" for="search">{% translate "Search" %}</label>
                            <div class="field is-grouped">
                                <p class="control is-expanded has-icons-left">
                                    <input class="input" type="text" placeholder="Maxi Mustermensch" id="search"
                                           name="q" value="{{ request.GET.q }}">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </p>
                                <div class="control">
                                    <button class="button is-link" type="submit">
                                        <span class="icon is-small">
                                            <i class="fas fa-rocket"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            {% if request.GET.q %}
                                <a class="help is-danger"
                                   href="{% url 'lecturer-list' %}">{% translate "Reset query" %}</a>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="column is-one-quarter">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h5 class="title is-5">{% translate "Statistics" %}</h5>
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr>
                                <td>{% translate "Nominations" %}</td>
                                <td>{{ stats.votes }}</td>
                            </tr>
                            <tr>
                                <td>{% translate "Lecturers" %}</td>
                                <td>{{ lecturer_list.count }}</td>
                            </tr>
                            <tr>
                                <td>{% translate "Students" %}</td>
                                <td>{{ stats.unique_users }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% regroup lecturer_list by get_faculty_display as lecturers %}
    {% for faculty, faculty_lecturer in lecturers %}
        <h5 class="title is-5 has-text-centered">{{ faculty }}</h5>
        <div class="columns is-multiline">
            {% for lecturer in faculty_lecturer %}
                <div class="column is-one-quarter">
                    {% include 'award/snippets/lecturer_card.html' %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
