{% extends 'award/base.html' %}

{% block content %}
    <h1 class="title is-1">Lehrpreis der Studierendenschaft</h1>

    <h3 class="subtitle is-3">Was ist der Lehrpreis?</h3>
    <div class="content">
        <p>
            Der <strong>Lehrpreis der Studierendenschaft</strong> zeichnet Dozierende mit herausragender Lehre aus.
            Dabei soll im Besonderen die Umstellung des eigenen Lehrangebots auf digitale Mittel sowie das zur
            Verfügung stellen zusätzlichen Lehrangebots für die Studierende aufgrund der aktuellen pandemischen Lage
            gewürdigt werden.
        </p>

        <p>
            Die eingereichten Vorschläge werden nach Ablauf der Einreichungsfrist auf einer Sitzung des
            Studierendenrates besprochen, wobei auch die letztendlichen Gewinner ausgewählt werden. Dabei sollen die
            bei der Nominierung eingereichten Gründe vorwiegend in der Entscheidung einbezogen werden und die Anzahl
            der unterzeichneten Studierenden nur eine sekundär Rolle einnehmen. Dadurch wollen wir auch Modulen mit
            weniger Teilnehmer:innen gleichermaßen eine Chance geben und so dem:der Dozierenden würdigen.
        </p>

        <p>
            Die Preise werden neben einer Urkunde ebenfalls eine finanzielle Unterstützung (zwischen 100 bis 500 €)
            oder Sachgüter zur Verwendung in der digitalen Lehre (z. Bsp. Webcams, Headsets, usw.) enthalten. Dabei ist
            ein <strong>Gesamtbudget von 5.000 €</strong> vom Studierendenrat eingeplant. Die Gesamtwert des Preises für die einzelnen
            Dozierenden kann in unterschiedlicher Höhe ausfallen und wird individuell festgelegt werden.
        </p>
    </div>

    <h3 class="subtitle is-3">Eingereichte Vorschläge</h3>

    {% if not lecturer_list %}
    <div class="notification has-text-centered">
        <span class="icon-text">
            <span>Es wurden bisher noch keine Vorschläge eingereicht.</span>
            <span class="icon">
                <i class="far fa-frown fa-lg"></i>
            </span>
        </span>
    </div>
    {% endif %}

    <div class="columns is-mobile is-multiline">
        <div class="column is-one-quarter">
            <a href="{% url 'add-submission' %}">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <span class="icon has-text-info m-6">
                            <i class="fas fa-plus-circle fa-5x"></i>
                        </span>
                        <p>Neuen Vorschlag einreichen</p>
                    </div>
                </div>
            </a>
        </div>

        {% for lecturer in lecturer_list %}
        <div class="column is-one-quarter">
            {% include 'award/lecturer_card.html' %}
        </div>
        {% endfor %}
    </div>
{% endblock %}