{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="is-pulled-right">
        <form method="post">{% csrf_token %}
            <input type="hidden" name="is-favorite" value="{{ lecturer.is_favorite|yesno }}">
            {% if lecturer.is_favorite %}
                <button class="button is-light" type="submit">{% translate "Remove as favorite" %}</button>
            {% else %}
                <button class="button is-primary" type="submit">{% translate "Mark as favorite" %}</button>
            {% endif %}
        </form>
    </div>

    <h1 class="title">{{ lecturer }}</h1>
    <h3 class="subtitle">{{ lecturer.get_faculty_display }}</h3>

    <div class="field is-grouped">
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">{% translate "Favorite" %}</span>
                {% if lecturer.is_favorite %}
                    <span class="tag is-success"><i class="fas fa-check fa-fw"></i></span>
                {% else %}
                    <span class="tag is-danger"><i class="fas fa-times fa-fw"></i></span>
                {% endif %}
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">{% translate "Nominations" %}</span>
                <span class="tag is-info">{{ nominations }}</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag">{% translate "Nominations verified" %}</span>
                <span class="tag is-info">{{ nominations_verified }}</span>
            </div>
        </div>
    </div>

    {% for nomination in lecturer.nomination_set.all %}
        <article class="message{% if not nomination.is_verified %} is-danger{% endif %}">
            {% if not nomination.is_verified %}
                <div class="message-header">{% translate "Not verified" %}</div>
            {% endif %}
            <div class="message-body">
                <p>{{ nomination.reason }}</p>
                <p class="has-text-right has-text-grey">{{ nomination.sub_date }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}
