{% extends 'award/base.html' %}

{% block content %}
    {% include 'award/misc/privacy-info.html' with message=privacy %}

    <div class="box">
        <form method="post">
            {% csrf_token %}

            <h3 class="title is-3">Neuen Vorschlag einreichen</h3>
            <h5 class="subtitle is-5">Angaben zur Lehrperson</h5>

            {% include 'award/forms/input_or_textarea.html' with field=form.first_name %}
            {% include 'award/forms/input_or_textarea.html' with field=form.last_name %}
            {% include 'award/forms/select.html' with field=form.faculty %}
            {% include 'award/forms/input_or_textarea.html' with field=form.reason %}

            <h5 class="subtitle is-5 mt-5">Angaben zur einreichenden Person</h5>

            {% include 'award/forms/input_or_textarea.html' with field=form.sub_email %}

            <button type="submit" class="button is-primary">Abschicken</button>

            {% for error in form.non_field_errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </form>
    </div>
{% endblock %}
