{% extends 'award/base.html' %}

{% load tz %}
{% load i18n %}

{% url 'renew-token' as form_url %}

{% block content %}
    <article class="message {% if feedback.valid_token %}is-success{% else %}is-danger{% endif %}">
        <div class="message-header">
            {{ feedback.title }}
        </div>
        <div class="message-body">
            {{ feedback.message }}
            {% if feedback.token_expired %}
                {% blocktranslate %}
                    You can have a new confirmation email sent to you. Please use the corresponding
                    <a href="{{ form_url }}?email={{ feedback.sub_email }}">form</a>.
                {% endblocktranslate %}
            {% endif %}
        </div>
    </article>
{% endblock %}
