Hallo {{ nomination.get_first_name }},

vielen Dank für deinen Vorschlag. Bitte bestätige als letzten Schritt mittels 
dieser E-Mail, dass der Vorschlag auch wirklich von dir eingereicht wurde. Dazu 
musst du lediglich auf den nachfolgenden Link klicken. Der Link ist bis 
**{{ link.expiry }}** gültig!

[Vorschlag bestätigen]({{ link.url }})

Zum Abgleich findest du im Folgenden noch einmal deine eingereichten Angaben.

> {{ lecturer.get_full_name }} ({{ lecturer.faculty }})
> 
> {{ nomination.reason }}

Viele Grüße,  
dein Studierendenrat

--  
Studierendenrat der Otto-von-Guericke-Universität Magdeburg  
Gebäude 26, Raum 002  
Universitätsplatz 2  
39106 Magdeburg

Tel.: 0391/67-58971  
E-Mail: stura@ovgu.de  
Twitter: [@sturaOVGU](https://twitter.com/sturaOVGU)  
Instagram: [@stura_ovgu](https://www.instagram.com/stura_ovgu/)
