{% extends 'base.html' %}

{% block body %}
    <section class="hero is-fullheight is-danger">{% load i18n %}
        <div class="hero-body">
            <div class="container">
                {% block content %}{% endblock %}
                <ul>
                    <li><a href="{% url 'lecturer-list' %}">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <span>
                            {% translate "Back to home page" %}
                        </span>
                    </span>
                    </a></li>
                    <li><a href="mailto:technik@stura-md.de">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>
                            {% translate "Report problem by email" %}
                        </span>
                    </span>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-centered is-toggle is-toggle-rounded m-3">
                <div class="container">
                    <ul>
                        <li><a href="https://stura-md.de/impressum/">{% translate "Imprint" %}</a></li>
                        <li><a href="https://stura-md.de/datenschutz/">{% translate "Privacy policy" %}</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
{% endblock %}
