<!DOCTYPE html>{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% translate "Student council" %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">

    <script src="{% static 'js/fontawesome.min.js' %}"></script>
</head>
<body>
<div style="position: fixed; bottom: 10px; left: 10px; z-index: 100;">
    {% include 'award/misc/language-switcher.html' %}
</div>
{% block body %}
    <section class="section">
        {% block section %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </section>

    <footer class="footer has-background-white">
        <div class="content has-text-centered">
            <p>
                {% blocktranslate %}
                    <strong>Student Council</strong> of the
                    <a href="https://www.ovgu.de">Otto-von-Guericke-University Magdeburg.</a> All legal information can
                    be found in our <a href="https://stura-md.de/impressum/">imprint</a> or our
                    <a href="https://stura-md.de/datenschutz/">privacy policy</a>.
                {% endblocktranslate %}
            </p>
        </div>
    </footer>
{% endblock %}
</body>
</html>
